@media (min-width: 576px) {
  .span {
    color: rgba(248,142,78,0.2);
  }
}

@media (min-width: 768px) {
  .span {
    color: rgba(248,142,78,0.2);
  }
}

@media (min-width: 992px) {
  .span {
    color: rgba(248,142,78,0.2);
  }
}

@media (min-width: 1200px) {
  .span {
    color: rgba(248,142,78,0.2);
  }
}
